// colors
$btn-gradient: linear-gradient(#f5ad00, #ffb504);
$btn-gradient-hover: linear-gradient(darken(#f5ad00, 10%), darken(#ffb504, 10%));
$icons-color: #66cc33;
$text-color: #1a1820;
$danger: #ff0000;
$white: #fff;
$arrow-comment: skewX(43deg);
